<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="card-group">
      <div class="col">
        <div class="card h-100">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{{toy.image1}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{{toy.image2}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{toy.image3}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">{{toy.name}}</h2>
            <h4 class="fw-bold mt-5">{{toy.price}}$</h4>
            <form class="">
              <div class="mb-3">
                <input type="number" class="form-control" min="0" max="{{toy.quantity}}">
                <div class="form-text text-success">Available</div>
              </div>
              <button type="submit" class="btn btn-primary">Purchase</button>
            </form>
            <table class="table text-center table-bordered mt-3">
              <thead>
                <tr>
                  <th scope="col">
                    <img src="/images/details/age-50.png" width="30">
                  </th>
                  <th scope="col">
                    <img src="/images/details/pieces-50.png" width="30">
                  </th>
                  <th scope="col">
                    <img src="/images/details/hashtag-50.png" width="30">
                  </th>
                  <th scope="col">
                    <img src="/images/details/origin-50.png" width="30">
                  </th>
                  <th scope="col">
                    <img src="/images/details/area.png" width="30">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="fw-semibold">{{toy.age}}</span>
                  </td>
                  <td>
                    <span class="fw-semibold">{{toy.pieces}}</span>
                  </td>
                  <td>
                    <span class="fw-semibold">{{toy.itemCode}}</span>
                  </td>
                  <td>
                    <span class="fw-semibold">{{toy.origin}}</span>
                  </td>
                  <td>
                    <span class="fw-semibold">{{toy.size}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-semibold">Ages</span>
                  </td>
                  <td>
                    <span class="fw-semibold">Pieces</span>
                  </td>
                  <td>
                    <span class="fw-semibold">Item</span>
                  </td>
                  <td>
                    <span class="fw-semibold">Origin</span>
                  </td>
                  <td>
                    <span class="fw-semibold">Size</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>