<div class="container">
    <div class="row mt-3">
        {{#each toy}}
        <div class="col-sm-3 mb-3">
            <div class="card h-100">
                <a href="toy/detail/{{_id}}">
                    <img src="{{image1}}" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="fw-lighter" id="itemCode">Code: {{itemCode}}</p>
                    <h6 class="text-danger ">{{price}} $</h6>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>